@CHARSET "ISO-8859-1";

.pie {
    float: right;
    height: 90%;
    width: 74%;
}
.pie p {
}
.pie .texto2 {
    background-color: #EEEEEE;
    float: left;
    width: 64%;
}
.pie .texto3 {
    float: right;
    width: 33%;
}
.texto1 {
    float: left;
    width: 24%;
}

.footerLine {
    clear: both;
    float: left;
    margin-top: 62px;
}

.footerText{
  float: left;
  margin-top: 5px;
}
  