<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	
	<import resource="context/sd/sdSistemaContext.xml"/>
	
	<import resource="context/sn/snSistemaContext.xml"/>
	
	<import resource="context/sf/sfSistemaContext.xml"/>	
	
	<import resource="context/txContext.xml"/>
	
	<import  resource="context/siteContext.xml" />
	
	<!-- 
	<import  resource="classpath:siteContext.xml" />
	 -->

    <bean id="applicationContextAware" class="com.core.app.ApplicationContextAwareImpl"/>
    
</beans>
